@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "instrument-sans";
  src: url("/fonts/InstrumentSans-Regular.woff");
}

@font-face {
  font-family: "space-mono";
  src: url("/fonts/SpaceMono-Regular.woff");
}
